@use "sass:list";

// Variables
$smallScreen: 700px;
$notSupportedScreenSize: 315px;
$pageWidth: 500px;


// Fonts
//INTER
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

$mainFont: 'Inter', sans-serif;
//$menuFont: 'Apple Chancery';
//$bodyFont: 'Inter', sans-serif;


// Colors
$primaryColor: #001A78;
$secondaryColor: #3D9BE9;
$hover: #001460;

$white: #FFF;
$black: #000;
$grey: hsla(0, 100%, 100%, 0.9);

$textColor: #1A1A1A;



// Media Queries
@mixin mq($mqValue...) {
  $digitsWithinMediaQuery: list.length($mqValue);

  @if $digitsWithinMediaQuery == 1 {
    @media (max-width: list.nth($mqValue, 1)) {
      @content;
    }
  }

  @else if $digitsWithinMediaQuery == 2 {
    @media (min-width: list.nth($mqValue, 1)) and (max-width: list.nth($mqValue, 2)) {
      @content;
    }
  }

  @else if $digitsWithinMediaQuery == 3 {
    @media (min-width: list.nth($mqValue, 3)) {
      @content;
    }
  }
}